@model GardenApp.Models.Image

@{
    ViewData["Title"] = "CreatePlan";
}

<hr />
<h1 style="text-align:center">Add Plan</h1>
<hr />

<div class="row center">
    <h4>Enter Plan details</h4>
    <div>
        <form asp-action="CreatePlan" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlanName" class="control-label"></label>
                <input asp-for="PlanName" class="form-control" />
                <span asp-validation-for="PlanName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlanCategory" class="control-label"></label>
                @*<input asp-for="PlanCategory" class="form-control" />*@
                <select asp-for="PlanCategory"  class="form-select">
                    <option value="Indoor">Indoor</option>
                    <option value="Outdoor">Outdoor</option>
                    <option value="Indoor / Outdoor">Indoor / Outdoor</option>
                </select>
                <span asp-validation-for="PlanCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MinQuantity" class="control-label"></label>
                <input asp-for="MinQuantity" class="form-control" />
                <span asp-validation-for="MinQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerSqft" class="control-label"></label>
                <input asp-for="CostPerSqft" class="form-control" />
                <span asp-validation-for="CostPerSqft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpectedDuration" class="control-label"></label>
                <input asp-for="ExpectedDuration" class="form-control" />
                <span asp-validation-for="ExpectedDuration" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" class ="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
