@{
    ViewBag.Title = "About";
}
<div>
    <br />
        <h1 align="center">About Us</h1>
    <br />
</div>
<div class="row pt-4">
<div class="col-6">
    <img src="~/Content/Images/15.jpg" style="width:90%">
</div>
<div class="col-6">
    Providing stunning and modern landscapes is not only our specialty but also our passion. One of the best ways to improve the visual appeal of your landed property is through landscaping. To ensure that we develop the best design for you, we will work with you every step of the way from laying out the location of the landscapes essential elements such as green grass, foliage, and flowering plants.<br /><br />
    Trust that all landscaping services will be executed with integrity and the utmost commitment to preserving the property’s reputation in your local community.<br /><br />
   If you plan on having a garden of any kind, then irrigation is an important aspect to consider.<br /><br />
</div>
</div>

<div class="row pt-4">
<div class="col-6">
<br /><br />
<ul>
    Through proper irrigation, you can keep your garden or landscape well-supplied with water and maintain the delicate health of your plants.
    <li>We can do this for you by designing and installing top-of-the-line irrigation systems that will keep your garden looking gorgeous with minimal effort throughout the year.<br /><br /></li>
    <li>The most important part of any landscape is the grass. It is hard to have a beautiful yard or lawn without good looking grass – after all, the grass yard is the open breathing space that is an essential component in any landscape design.<br /><br /></li>
    <li>We offer a large selection of different grass including Low Maintenance Pearls Grass, Cow Grass, Carpet Grass, and more.</li>
    <li>Depending on the kind of garden or lawn you have, we will help you choose the most suitable grass to install.<br /><br /></li>
    <li>Lawn Grass is also ideal to use in wet soil areas such as those surrounding drainage ditches and to promote better erosion control in your property.<br /><br /></li>
</ul>
 
</div>

<div class="col-6">
    <img src="~/Content/Images/16.jpg" style="width:90%">
</div>
</div>
