@{
    ViewData["Title"] = "Home Page";
}

<body style="background-size:cover; background-position: center; background-image:url('../../Content/Images/14.jpg')"></body>

<div class="w3-display-middle w3-margin-top w3-center" style="padding-bottom: 120px; font-family: 'Times New Roman'; font-size:50px;color:#002b36;font-weight:bolder;">
    <p>GARDEN DEVELOPERS</p>
</div>